

.App{
  min-width: 100vw;
  min-height: 100vh;
}

img{
  width: 20px;
  height: 20px;
}
.container{
  background: url('./assets/img/IMG_6586.JPG') no-repeat;
  background-size:  auto 100%  ;
  background-position: center;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo{
  max-width: 400px;
  width: 100%;
  height: auto;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.appointment{
  padding: 8px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  border: solid 1px white;
  transition: background 0.3s ease, transform 0.3s ease; /* Плавний перехід для background і transform */

}
.appointment--img{
  width: 100%;
  height: auto;
}

.appointment img {
  transition: filter 0.3s ease; /* Плавний перехід для фільтра */
}

.appointment:hover img {
  filter: invert(1); /* Інвертуємо кольори на ховері */
}



.appointment:hover {
  background: white;
  color: #000;
  transform: scale(1.05); /* Змінюємо scale на transform */
}


.contacts {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  margin-top: 20px;
}

.contact-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white; /* Білі іконки та текст */
  font-size: 16px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.contact-item:hover {
  transform: scale(1.05); /* Збільшення на 1.05 при ховері */
  color: white; /* Колір залишається білим */
}

.contact-icon {
 
  margin-right: 8px;
  fill: white; /* Білі іконки */
}

.contact-item:hover .contact-icon {
  transform: scale(1.05); /* Збільшення іконок при ховері */
}

svg{
  width: 20px;
  height: 20px;
  fill: white;
  margin-right: 8px;
}

body{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: white;
}

svg.location{
  width: 20px;
}